[Unit]
Description=Systemd View

[Service]
User=systemdview
Group=systemdview
Type=simple
ExecStart=/usr/bin/systemdview

[Install]
WantedBy=multi-user.target
