[Unit]
Description=Systemd View

[Service]
User=systemd-view
Group=systemd-view
Type=simple
ExecStart=/usr/bin/systemdview

[Install]
WantedBy=multi-user.target
